/* global.css */
@import "./tokens.css";

/* Reset básico del sistema */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mejor comportamiento tipográfico */
html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Estilos base globales */
body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  line-height: 1.5;
}