@import "./tokens.css";

/* ---------- RESET ESTÁNDAR ---------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* ---------- BASE ---------- */
body {
  width: 100%;
  min-height: 100vh;

  font-family: var(--font-family-default);
  color: var(--color-text);
  background: var(--color-bg);

  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

section {
  padding: var(--space-8) var(--space-4);
}

/* Utility */
.container {
  width: min(1200px, 90%);
  margin-inline: auto;
}